* {
    padding: 0;
    margin: 0;
}

html,
body {
    height: 100%;
}

body {
    background-color: #212833;
}

#page {
    display: flex;
    flex-flow: column;
    height: 100%;
}

#header {
    overflow: hidden;
    background-color: white;
    height: 85px;
}

#title {
    text-align: center;
    font-size: 27px;
    color: black;
    padding-top: 20px;
    font-weight: bold;
}
.main {
    display: flex;
    height: 100%;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.container {
    flex: 0 0 30%;
    margin: 20px;
}

.imageContainer {
    width: 450;
    height: 300;
}
.imageContainer :hover {
    width: 475px;
    height: 325px;
    animation: transition 0.2s;
}
@keyframes transition {
    from {
        width: 450px;
        height: 300px;
    }
    to {
        width: 475px;
        height: 325px;
    }
}

.image {
    border-radius: 20px;
}

a {
    text-decoration: none;
    color: #2e85ff;
    font-size: 20px;
}

@media (max-width: 1100px) {
    .container {
        flex: 0 0 48%;
    }
}
