*{
    padding: 0;
    margin: 0;
}

body{
    background-color: #212833;
}

#header{
    overflow: hidden;
	background-color: white;
    height: 70px;
}


#title{
    text-align: center;
    font-size: 27px;
    color: black;
    padding-top: 20px;;
	font-weight: bold;
}
#main{
    text-align: center;
}

#container1,#container2{
    display: inline-block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
}
.category_link{
    text-decoration: none;
    color: white;
    font-size: 20px;
}
#sort_image,#graph_image{
    border-radius: 20px;;
}
#container1,#container2{
    margin-right: 20px;
    margin-left: 20px;
}

@media (max-width : 1100px){
    #container1{
        display: block;
    }
    #main{
        margin-top: 30px;;
    }
}
@media (min-width : 1100px){
    #main{
        margin-top: 150px;
    }
}